# config rule:
# scannerConfig {
#     pluginName = "scanCode"
#     scanCodeConfigPath = "${project.projectDir}/scancode-config/scanCodeList.config"
#     scanClasspathOutput = "${project.projectDir}/scancode-config/scanClasspathOutput.config"
#     scanMethodOutput = "${project.projectDir}/scancode-config/scanMethodOutput.config"
#     jarEntryNameOutput = "${project.projectDir}/scancode-config/jarEntryNameOutput.config"
# }

# scan code rule
# see: com.xhb.scancode.plugin.classio.module.ScanCodeNode;
# Example: System.out.println
scanInsnNode {
    "field" :{
        "owner": "java.lang.System",
        "name": "out",
        "desc": "Ljava/io/PrintStream;"
    },
    "method" :{
        "owner": "java/io/PrintStream",
        "name": "println",
        "desc": "(Ljava/lang/String;)V"
    }
}

# insert method rule:
# coming soon
InsertCodeNode {

}